/* ----------------------------------------------------------- */
/* BASICS */
/* ----------------------------------------------------------- */

*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgba(255, 255, 255, 0.85);
    color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 30px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    line-height: 60px;
    
} 

.row{
    max-width: 1140px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(255, 181, 116, 0.79);
    transition: border-bottom 0.2s, color 0.2s;
}

.font-bold{
    font-weight: 700;
}


/* ----------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------- */

header{
    background-size: cover;
    height: 100vh; 
}

.front-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 70%;
    height: 100vh;
}

.front-content h1{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    justify-content: center;
    font-size: 120%;
    margin-top: 5px;
}

.front-content  p{
    position: relative;
    padding-top: 50px;
    /* margin: 0; */
    text-align: left;

}

/* ----------------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------------- */

.bottom-page{
    height: 100vh;
}

.bottom-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 70%;
    height: 100vh;
}

.bottom-comment{
  min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 80%;
    padding: 5px;
    text-align: center;
    margin-top: auto;
    padding-top: 5%;

}



.blinking-cursor {
  font-weight: 400;
  font-size: 100%;
    padding-top: 5px;
    border-color: #0e9191;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}


/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: rgba(255, 254, 254, 0.94);
        color: rgba(7, 7, 7, 0.94);
    }
    a{color: rgba(7, 7, 7, 0.94);}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html{background-color: rgb(0, 0, 0);}
    body {
        background-color: rgba(0, 0, 0, 0.98);
        color: rgba(255, 255, 255, 0.94);
    }
    a{color: rgba(255, 255, 255, 0.94);}


/* BLINKING CURSOR */
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

    
}